body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  text-align: justify;
}

h2,
p {
  margin: 0;
}

#content {
  display: flex;
  justify-content: center;
  max-width: 375px;
  margin: auto;
  background-color: hsl(233, 47%, 7%);
}

@media (min-width: 1000px) {
  #content {
    max-width: 100%;
    margin: 0;
  }
}

#card {
  width: 80%;
  height: 80%;
  background-color: hsl(244, 38%, 16%);
  margin: 10% auto;
  overflow: hidden;
  border-radius: 10px;
  background-blend-mode: screen;
}

@media (min-width: 1000px) {
  #card {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
}

#image {
  background-color: hsl(277, 64%, 61%);
}

@media (min-width: 1000px) {
  #image {
    width: 50%;
    order: 2;
  }
}

#mobileimg {
  height: 100%;
  width: 100%;
  display: block;
  align-self: flex-start;
  mix-blend-mode: luminosity;
}

#desktopimg {
  display: none;
}

@media (min-width: 1000px) {
  #mobileimg {
    display: none;
  }
}

@media (min-width: 1000px) {
  #desktopimg {
    display: block;
    align-self: flex-start;
    mix-blend-mode: luminosity;
    width: 100%;
    max-height: 100%;
    margin: 0;
  }
}

#textContent {
  margin: 5% 5%;
  text-align: center;
}

@media (min-width: 1000px) {
  #textContent {
    width: 50%;
    margin: 0;
    text-align: left;
  }
}

@media (min-width: 1000px) {
  #textContentInnerDiv {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 10%;
  }
}

.mainHeading {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.mainParagraph {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: auto;
  text-align: center;
  line-height: 1.5rem;
}

@media (min-width: 1000px) {
  .mainParagraph {
    text-align: left;
    font-size: 1.3vw;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  #stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;
  }
}

.statDiv {
  margin-bottom: 2rem;
}

@media (min-width: 1000px) {
  .statDiv {
    margin-bottom: 0;
  }
}

.statHeading {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.8rem;
}

#accent {
  color: hsl(277, 64%, 61%);
}

.mainHeading h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

@media (min-width: 1000px) {
  .mainHeading h1 {
    margin: 0;
    margin-bottom: 5%;
  }
}

#stats div h2 {
  margin-bottom: 0.2rem;
}
